body {
    background-image: url("../assets/41cbb1600b17c568d7a309e928416d76.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed ;
}

main {
    display: flex;
    justify-content: center;
}

.metade1 {
    padding: 14vh;
    width: 50%;
    /* background-color: aliceblue; */
}

.metade2 {
    padding: 14vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

.box {
    height: 10vh;
    padding: 30vh;
    border-radius: 20px;
    background: linear-gradient(to top,#3F1E1E,rgb(0, 0, 0));
}
