@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nerko+One&family=Poor+Story&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Nerko One', cursive;
font-family: 'Poor Story', cursive; */

.estatisticas button {
    font-weight: 900;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.display {
    background-color: black;
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.titulo-display {
    padding: 12px;
    width: 98vh;
    text-align: center;
    border: 2px solid rgb(243, 243, 243);
    background-image: url("../assets/5100741.jpg-r_1280_720-f_jpg-q_x-xxyxx.jpg");
}
.titulo-display p {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    box-shadow: black 5px 5px 5px;
}

 .conteudo-home {
    width: 100%;
    height: 100%;
    background: linear-gradient(180.01deg, #000000 8.68%, rgba(0, 0, 0, 0) 79.67%);
    background-color: #3F1E1E;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.box-estatisticas {
    margin-top: 3vh;
    height: 90vh;
    width: 85%;
    border: 2px solid #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
}

.titulo-jogo1 {
    margin-top: 10px;
    text-align: center;
}

.titulo-jogo1 p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.dados-jogo1 {
    width: 90%;
    border: 2px solid #fff;
}

.dados-jogo1 p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
}

.grafico1 {
    width: 100%;
    height: 100%;
}

.grafico1 canvas {
    width: 100%;
    height: 60%;
}