* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.conteudo {
    display: flex;
    justify-content: center;
}
.metade1 {
background-color: blueviolet;
padding: 50vh 0vh;
width: 25%;
height: 100%;
}

.metade2 {
    background-color: aquamarine;
    padding: 50vh 0vh;
    width: 75%;
    height: 100%;
}