* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./assets/thumb-1920-625703.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed ;
}
.banner-container-header {
    /* padding: 65vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.container {
    width: 155vh;
    padding: 0vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}

.conteudo-header {
    height: 15vh;
    width: 65%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rota {
    width: 20px;
    display: flex;
    justify-content: center;
}

.rota p {
    color:white;
    font-size: 20px;
}

/* main */

.gravity-falls{
    padding: 25vh;
}

.container1-main {
    padding: 10vh;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 136.93%);
    background-color: #3F1E1E;
}
.conteudo-container1-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    padding: 10vh;
    background-image: url("/assets/thumb-1920-625703.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.imagens-container1-main {
    padding: 35vh 65vh;
    background-color: #3F1E1E;
}

.sobre-o-projeto-container1-main {
    /* padding: 20vh 15vh; */
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
}
.img {
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo-sobre {
    border-top: 50px;
    height: 60px;
    font-size: 35px;
    color: aliceblue;
}

.lorem-sobre {
    font-size: 20px;
    color: aliceblue;
}

.vazio {
    height: 20vh;
}

.imagem-sobre img{
    width: 454px;
    height: 647px;

    border-radius: 20px;
}