body {
    background-image: url("./assets/e870dcf286c210c1df4f66bafc07672f.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed ;
}