* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container-header {
    background-image: url("./assets/thumb-1920-625703.jpg");
    padding: 65vh;
    background-size: cover;
}

.container1-main {
    padding: 10vh;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 136.93%);
    background-color: #3F1E1E;
}

.conteudo-container1-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.1-imagens-container1-main {
    
}

.imagens-container1-main {
    padding: 35vh 65vh;
    background-color: #3F1E1E;
}

.sobre-o-projeto-container1-main {
    padding: 50vh 55vh;
    background-color: aquamarine;
}